@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* Backgrounds */
  --background: #FAF9F7;
  --white: #FFFFFF;
  /* Text */
  --black: #171717;
  --text: #242424;
  --gray: #6B6B6B;
  /* Borders */
  --border: #E5E2DE;
  /* Fashion accents */
  --blush: #E8B7B0;
  --blush-light: #F6DEDA;
  --beige: #D8C2AE;
  /* Fonts */
  --play-fair: "Playfair Display", serif;
  --inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* h1, h2, h3 {
  font-family: "Playfair Display", serif;
} */